/* Ubiquitous Border Box */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
/**/

/* Generics */
body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;

  color: white;
  background-color: black;
  font-family: "Helvetica Neue", "Arial", "Trebuchet", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 2px 0 0.5em;
}

body > header {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 36px 20px 10px 46px;
}

body > header nav {
  display: flex;
  flex-flow: column nowrap;
}

body header nav a {
  margin-bottom: 15px;
}

a {
  display: inline-block;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  opacity: 0.5;
  transition: opacity 250ms ease-in-out 0s;
}

a:hover {
  opacity: 1;
}

nav,
nav ul {
  display: flex;
  padding: 0;
  margin: 0 0 20px 0;
  list-style: none;
}

body > header nav a {
  font-size: 1.25em;
  margin-right: 36px;
}

nav:hover a {
  opacity: 0.5;
}

nav a:hover {
  opacity: 1;
}

body > header h1 {
  flex-shrink: 0;
  background-image: url("assets/corp.svg");
  background-repeat: no-repeat;
  padding-top: 24px;
  height: 0;
  overflow: hidden;
  margin-right: 96px;
}

main {
  display: flex; /* Flexing something with one child... why have I done it in *this* case?? */
  flex: 1 1;
  margin: 0;
  /* min-height: 40vh; */
  max-height: min(50vw, 50vh);
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 28px 35px 10px 30px;
  /* padding: 48px 60px 48px 96px; */
}

section.news {
  margin-right: 30px;
}

section.news header {
  display: flex;
  margin-bottom: 20px;
}

section.news header label {
  color: white;
  background: #151515;
  order: 2;
}

section.news header time {
  color: #151515;
  background: white;
  margin-right: 10px;
  order: 1;
}

section.news header label,
section.news header time {
  border: 1px solid white;
  padding: 5px 8px;
  font-size: 0.8125em;
  text-transform: uppercase;
  font-weight: bold;
}

section.links address {
  text-align: right;
}

section.links address ul {
  list-style: none;
  margin: 0 0 20px 0;
  padding: 0;
}

section.links address ul li {
  margin-left: 20px;
}

section.links address ul.social {
  display: flex;
  justify-content: flex-end;
}

section.links address ul.external li a::before {
  content: "\226B";
  padding-right: 10px;
}

section.links nav {
  display: block;
  justify-content: flex-end;
}

section.links nav a {
  font-size: 1.125em;
  margin-right: 0;
}

section.links nav li:before {
  content: "|";
  opacity: 0.5;
  padding: 0 15px;
}

section.links nav li:first-child:before {
  content: "";
  padding: 0;
  display: none;
}

ul.gallery {
  display: flex;
  /* display: grid;
  grid-template-columns: repeat(6, 1fr); */
  position: relative;
  left: calc(100vw / -6);
  width: calc(100vw + 100vw / 3); /* must be forced */

  padding: 0;
  margin: 0;

  list-style: none;
}

ul.gallery li {
  display: flex;
  /* flex-shrink: 0; */
  position: relative;
  width: calc(100vw / 6);
  min-width: 100px;

  box-shadow: 0 0 60px black;
  filter: grayscale(0.5) opacity(0.5);

  overflow: hidden;
  transition: width 1100ms ease-out 50ms, min-width 1100ms ease-out 50ms,
    filter 250ms ease-out 0s;
  transform: skew(-20deg);
}

ul.gallery:hover li {
  /* width: calc(100vw / 8); */
  filter: grayscale(1) opacity(0.27);
}

ul.gallery li:hover {
  width: calc(100vw / 3);
  min-width: 260px;
  filter: grayscale(0) opacity(1);
}

ul.gallery li article {
  position: absolute;
  right: -180%;
  width: 100vw;
  height: 100%;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  transition: right 1s ease-in-out 150ms;
  transform: skew(20deg);
}

ul.gallery li:hover article {
  right: -35vw;
}

ul.gallery li article h1 {
  position: relative;
  left: -25%;
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0;
  background-size: contain;

  padding-top: 300px;
  width: calc(100vw / 3);
  height: 0;

  filter: drop-shadow(0 0 40px black) drop-shadow(0 0 30px black)
    drop-shadow(0 0 20px black) drop-shadow(0 0 10px black);

  overflow: hidden;
  transition: opacity 750ms ease 350ms, left 1s ease 150ms;
}

ul.gallery li:hover article h1 {
  left: 1.25%;
  opacity: 1;
}

.placeholder {
  filter: grayscale(0.88) opacity(0.36) !important;
}

.placeholder article {
  cursor: default !important;
}

.placeholder:hover {
  filter: grayscale(0.44) opacity(0.44);
}

.placeholder:first-child {
  background-image: url("assets/ds3-player.jpg");
}

.placeholder:last-child {
  background-image: url("assets/acvd-bot.jpg");
}

.darksouls {
  z-index: 7;
}

.darksouls article {
  background-image: url("assets/darksouls-colour.jpg");
}

.darksouls article > h1 {
  background-image: url("assets/darksouls-logo.png");
}

.acvd {
  z-index: 6;
}

.acvd article {
  background-image: url("assets/acvd-colour.jpg");
}

.acvd article > h1 {
  background-image: url("assets/acvd-logo.png");
}

.eldenring {
  z-index: 5;
}

.eldenring article {
  background-image: url("assets/eldenring-colour.jpg");
}

.eldenring article > h1 {
  background-image: url("assets/eldenring-logo.png");
}

.sekiro {
  z-index: 4;
}

.sekiro article {
  background-image: url("assets/sekiro-colour.jpg");
}

.sekiro article > h1 {
  background-image: url("assets/sekiro-logo.png");
}

.bloodborne {
  z-index: 5;
}

.bloodborne article {
  background-image: url("assets/bloodbourne-colour.jpg");
}

.bloodborne article > h1 {
  background-image: url("assets/bloodborne-logo.png");
  margin-left: -12px;
}

.deracine {
  z-index: 6;
}

.deracine article {
  background-image: url("assets/deracine-colour.jpg");
}

.deracine article > h1 {
  background-image: url("assets/deracine-logo.png");
  margin-left: -26px;
}

aside article {
  position: absolute;
  background: black;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  z-index: 8;
  opacity: 0;

  padding-top: 180px;

  transition: opacity 500ms ease 0s, left 0s linear 500ms;
}

input[type="checkbox"]:checked + article {
  left: 0;
  transition: opacity 500ms ease 0s;
  opacity: 1;
}

/* We start a tablet-like view */
@media screen and (min-width: 666px) {
  body > header nav {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
}

@media screen and (min-width: 718px) {
}

@media screen and (min-width: 820px) {
  body > header {
    padding: 48px 60px 20px 76px;
  }

  footer {
    padding: 48px 60px 20px 72px;
  }
}

@media screen and (min-width: 960px) {
  body > header nav {
    grid-template-columns: repeat(3, auto);
  }
}

@media screen and (min-width: 1308px) {
  body > header nav {
    display: flex;
  }

  section.links address ul {
    display: flex;
    justify-content: flex-end;
  }
}
